<main class="net_container_full">
  <!-- banner -->
  <section class="banner_position banner_ethernet_v4x">
    <div class="banner_white_space"></div>
    <div class="net_container">
      <app-breadcrumb></app-breadcrumb>
      <div class="banner_ethernet_v4x_content">
        <h2>Power Your Business with Vertel Carrier Ethernet</h2>
        <p>
          Upgrade to Carrier-Grade Connectivity Enabling your business to stay
          agile and scalable with fibre connectivity
        </p>
        <a
          routerLink="/services/network-solutions/sd-wan"
          class="global_side_form_btn"
          >Learn More</a
        >
      </div>
    </div>
  </section>

  <!-- one-Ethernet -->
  <section class="flexible_agile_reliable">
    <div class="net_container">
      <div class="two_8x8_content">
        <div class="vertel_and_8x8">
          <h2>Fibre Connectivity Is No Longer Considered a Nice To Have</h2>
          <strong>Critical. Reliable. Scalable</strong>
        </div>
      </div>

      <div class="one_8x8_row">
        <div class="one_8x8_row_left_content">
          <span class="line_70"></span>
          <p>
            Our Enterprise Grade Ethernet service offers the highest network
            availability with definitive quality of service (QoS) guarantees. As
            long as the suitable infrastructure is accessible, we’ve got you
            covered across metro and regional Australia. Our services are MEF CE
            2.0-certified by global industry forum MEF.
          </p>

          <p>
            Hard to intercept and easy to configure, Vertel’s Enterprise Grade
            Ethernet services take the best of what is available in the market
            and integrate it with our own network infrastructure, creating a
            hybrid approach to service delivery.
          </p>
        </div>
        <div class="one_8x8_row_right_content">
          <a
            href="https://www.youtube.com/watch?v=qaoYKOgM0k0&feature=youtu.be"
            target="_blank"
          >
            <img
              src="/assets/images/ethernet/ethernet-fibre-video.webp"
              loading="lazy"
              alt=" video"
            />
          </a>
        </div>
      </div>

      <div class="one_8x8_row">
        <div class="one_8x8_row_right_content">
          <img
            src="/assets/images/ethernet/ethernet-work.webp"
            loading="lazy"
            alt=" responsive_8x8"
          />
        </div>
        <div class="one_8x8_row_left_content">
          <span class="line_70"></span>
          <p>
            Vertel Delievers Assured and Secure Connectivity Our hybrid approach
            to service delivery makes Vertel’s Ethernet solutions ideal for
            organisations that require higher availability, better application
            performance, more customer-centric service management, and more
            complete network security.Our MEF CE 2.0-certified services are
            provided with clear and simple QoS performance guarantees around
            packet loss, latency, and jitter.+F21:H22
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ethernet service table -->
  <section class="service_ethernet">
    <div class="net_container">
      <div class="service_table">
        <h2>
          Vertel Carrier Ethernet is Available With Different Service Grades to
          better fit your business needs.
        </h2>
      </div>
      <div class="service_grid">
        <strong
          >All services can be offered in layer 2 (point to point or point to
          multi point) or layer 3 (Internet)</strong
        >
        <div class="service_grid_cell">1</div>
        <div class="service_grid_cell">2</div>
        <div class="service_grid_cell">3</div>
        <div class="service_grid_cell">4</div>
        <div class="service_grid_cell">5</div>
      </div>
    </div>
  </section>

  <!-- Clients -->
  <section class="clients">
    <div class="net_container">
      <div class="clients_row">
        <div class="client_heading">
          <h2>
            What Our Customers Say About Vertel's Enterprise Grade Connectivity.
          </h2>
        </div>
        <div class="client_blog">
          <div class="client_card">
            <img
              src="/assets/images/ethernet/health-centres.png"
              alt="blog"
              loading="lazy"
            />
            <a
              class="global_side_form_btn"
              href="https://vertel.com.au/resources/a-life-critical-network-connecting-hospitals-community-health-centres-and-ambulance"
              target="_blank"
            >
              Read Blog
            </a>
          </div>
          <div class="client_card">
            <img
              src="/assets/images/ethernet/network-monitoring.png"
              alt="blog"
              loading="lazy"
            />
            <a
              class="global_side_form_btn"
              href="https://vertel.com.au/resources/fully-managed-wide-area-network-wan-that-became-the-backbone-for-network-monitoring-in"
              target="_blank"
            >
              Read Blog
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- contact us today! -->
  <section class="contact_today">
    <div class="net_container">
      <div class="contact_today_main">
        <div class="contact_left_form">
          <app-pardot-form
            action="https://go.pardot.com/l/511591/2022-09-13/8qy54y"
            heading="Contact Us Today!"
          ></app-pardot-form>
        </div>
        <div class="contact_right_form_content">
          <img
            src="/assets/images/8x8-landing/icon-chart.webp"
            alt="icon_chart"
            loading="lazy"
          />
          <strong
            >Build the healthy business with us. Contact your Vertel Account
            Manager to discuss it more.</strong
          >
          <a href="/contact-us" class="global_side_form_btn">Learn More</a>
        </div>
      </div>
    </div>
  </section>
</main>
